<ion-content class="body">
      <img src="assets/images/LOGO-9-16.png" class="body"/>
<ion-header>
    <ion-toolbar>
      <ion-title>
        Cadastro
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <form class="body">
     <ion-item>
        <ion-label position="stacked">Nome Completo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
        <div class="ion-padding">
        <ion-button type="submit" class="ion-no-margin"color="warning" (click)="onContinuar(1)">Continuar</ion-button>
         </div>
        </form>
  </ion-content>
  
  