<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
   <h1 class="teste">Dados Cadastrais</h1>
   <ion-item>
      <ion-label position="stacked">CPF<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" color="warning">Entrar</ion-button>
      </div>
      <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" color="warning">Crie Sua Conta</ion-button>
       </div>
      </form>
</ion-content>
